<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Домашняя бухгалтерия</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="vendor.css">
  <link rel="stylesheet" href="theme.css"> -->
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.76f82dc2078e157dd321.css"></head>
<body>
  <sv-root></sv-root>
<script type="text/javascript" src="runtime.781c00b52122789183c4.js"></script>
  <script type="text/javascript" src="es2015-polyfills.c5dd28b362270c767b34.js" nomodule></script>
  <script type="text/javascript" src="polyfills.8bbb231b43165d65d357.js"></script>
  <script type="text/javascript" src="main.d8b1c42cbbdf10a77923.js"></script>
</body>
</html>
