Django==2.2.21
django-cors-headers==2.5.3
django-filter==2.1.0
django-templated-mail==1.1.1
djangorestframework==3.9.3
djangorestframework-simplejwt==4.3.0
djoser==1.6.0
PyJWT==1.7.1
pytz==2019.1
sqlparse==0.3.0
